.main {
	height: 64px;
	width: 100%;
	background-color: #7b7b7b;
	color: white;
	box-shadow: 0 3px 15px #7b7b7b;
	z-index: 10;
	.container {
		margin: 0 auto;
		max-width: 1024px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: bold;
		img {
			height: 30px;
		}
	}
}
